<p id="notice"><%= notice %></p>

<h1>Ads</h1>


    <% @ads.each do |ad| %>





  <div class="card mt-3">
  <div class="card-body">
<div class="docs-page-title mb-4"><h5><%= ad.name %> - <span style="color: blue"><%= ad.price %></span></h5></div>
<div>
  <span>Priority: <%= ad.priority_level %></span>
  <% if ad.active? %>
    <span class="pl-2 badge badge-success">active</span>
    <% else %>
    <span class="pl-2 badge badge-warning">deactived</span>
    <% end %>
</div>
              <div class="row">
              
                <div class="col-md-12">


 <div class="mr-3 name-as-cover-image" style="width: 64px;
    height: 64px;
    font-size: 28px;
    padding-top: 15px;
    color: #e8e8e8;
    text-align: center;
    background: #424242;
    border-radius: 3px;
    border: 1px solid #181818; float: left;"><%= avataryze(ad.name) %>
      
    </div>


<br>


                <div>
          <%= form_with model: @order_item do |f| %>
        <%= f.hidden_field :ad_id, value: ad.id %>
        <%= f.number_field :quantity, value: 1, min: 1%>
        <%= f.submit "Add To Cart" %>
        <% end %>

        <br>
                </div>

<%= link_to 'Show |', ad %> <%= link_to 'Edit |', edit_ad_path(ad) %> <%= link_to 'Destroy', ad, method: :delete, data: { confirm: 'Are you sure?' } %>

                </div>

              </div>

</div>

</div>



    <% end %>


<br>

<%= link_to 'New Ad', new_ad_path %>


