<p id="notice"><%= notice %></p>

<h1>Ads</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ads.each do |ad| %>

      <tr style="border-bottom: 1px solid #000; margin-bottom: 10px!important">
        <td>  <div class="mr-3 name-as-cover-image" style="    width: 64px;
    height: 64px;
    font-size: 28px;
    padding-top: 15px;
    color: #e8e8e8;
    text-align: center;
    background: #424242;
    border-radius: 3px;
    border: 1px solid #181818;"><%= avataryze(ad.name) %></div></td>
        <td><%= ad.name %></td>
        <td><%= ad.price %></td>
        <td><%= link_to 'Show |', ad %></td>
        <td><%= link_to 'Edit |', edit_ad_path(ad) %></td>
        <td><%= link_to 'Destroy', ad, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ad', new_ad_path %>
