<p id="notice"><%= notice %></p>


<div>

	<div class="mr-3 name-as-cover-image" style="    width: 300px;
    height: 250px;
    font-size: 28px;
    padding-top: 15px;
    color: #e8e8e8;
    text-align: center;
    background: #424242;
    border-radius: 3px;
    border: 1px solid #181818;"><%= avataryze(@ad.name) %></div>
	
<p>
  <strong>Name:</strong>
  <%= @ad.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ad.price %>
</p>



<br>


    <div>
        <%= form_with model: @order_item do |f| %>
        <%= f.hidden_field :ad_id, value: @ad.id %>
        <%= f.number_field :quantity, value: 1, min: 1%>
        <%= f.submit "Add To Cart" %>
        <% end %>
   </div>
        <br>


</div>



<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
