
<%= simple_form_for(@artist) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

              <div class="row">


                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label"><span class="required">*</span>Artist name</label>
                    <%= f.text_field :name, :label => 'Artist name', :placeholder => 'artist name', class: "form-control form-control up-input-blue" %>
                  </div>
                </div>




                <div class="col-md-12">
                  <div class="form-group">
                   <label class="control-label"><span class="required">*</span>Bio</label>

                  <%= f.text_area :description, :label => 'description', :placeholder => 'Write a bio for this artist', class: "form-control form-control-lg up-input-blue height-scroll", id: "counted", :input_html => {rows: "12"} %>

                </div>
              </div> 


                  <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label"><span class="required">*</span>Artist Country</label>
                      <%= country_select("artist", "country", { priority_countries: ["GH", "NG", "KE", "GB"], include_blank: 'Select country' }, { class: 'custom-select form-control form-control-sm up-input-blue' } ) %>
                  </div>
                </div>
                </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
