<%= render "shared/jplayer-js-2" %>
<%= render "shared/jplayer-js-1" %>

<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function(){

    new jPlayerPlaylist({
      jPlayer: "#jquery_jplayer_1",
      cssSelectorAncestor: "#jp_container_1"
    }, [

 <% Song.where(artist_id: @artist.id).each_with_index do |song, i| %> 
      {
    title: "<span style='height: 16px!important; width: 100% !important;'><div class='latest-release' style='width: 100%!important' ><!--div class='track__art'> <img src='<%#= rails_blob_url(song.artist.artist_profile_photo) if song.artist.artist_profile_photo.attached? %> ' alt='by <%#= song.artist.name.titleize %>' /> </div--> <div class='track__number'><%= i + 1 %></div>    <div class='track__added'> <% if song.free_download == 'Yes' %> <button onclick='location.href=\"<%=url_for(rails_blob_path(song.mp3_audio, disposition: 'attachment')) %>\";' style='padding: 0px; margin: 0px' title='free download' ><i class='fas fa-arrow-down'></i></button> &nbsp;   <% else %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <% end %>  </div>       <div class='track__title'>    <button onclick='location.href=\"/songs/<%= song.slug %>\";' style='padding: 0px; margin: 0px'><%= (song.title.titleize).truncate (15) if song.title %> </button>  </div> <div class='track__explicit'> <small>  </div> <div class='track__plays'>  <span class='day'> <div class='' style='float: right;'><div class='actions'><div class='dropdown action-item'><% if signed_in? and current_profile == song.profile || current_profile.admin?  %>  <button onclick='location.href=\"<%= edit_song_path(song) %>\";' class= 'dropdown-item'><i class='fas fa-edit'></i>Edit</button>  <% end %></div></div></div></div></span>  </small>      </div></div> </span>&nbsp",


        <% if song.mp3_audio.attached? %>
        mp3:"<%= rails_blob_url(song.mp3_audio) %>",
        oga:"<%= rails_blob_url(song.mp3_audio) %>"
        <% end %>
      },
      <% end %>




    ], {
      playlistOptions: {
        displayTime: 0,
        addTime: 0,
      },
      swfPath: "../../dist/jplayer",
      supplied: "oga, mp3",
      wmode: "window",
      useStateClassSkin: true,
      autoBlur: false,
      smoothPlayBar: true,
      keyEnabled: true
    });
  });
 

  //]]>
</script>



<div class="card">
  <div class="card-body">


    

     About: <%= @artist.description %>
    <br/>
	<div class="mr-3 name-as-cover-image" style="    width: 700px;
    height: 250px;
    font-size: 28px;
    padding-top: 15px;
    color: #e8e8e8;
    text-align: center;
    background: #424242;
    border-radius: 3px;
    border: 1px solid #181818;"><%= avataryze(@artist.name) %></div>
    <br/>
    <%= link_to 'Edit', edit_artist_path(@artist), class: 'btn btn-sm btn-primary mr-2' %>
    <%= link_to 'Delete', artist_path(@artist), method: :delete, class: 'btn btn-sm btn-danger mr-2' %>

    <%= link_to 'Back', artists_path, class: 'btn btn-sm btn-secondary' %> | Artist Name: <%= @artist.name %>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h3>Songs</h3>
  </div>
  <div class="card-body">
    <% if @artist.songs.empty? %>
      <span>Please add songs</span>
    <% else %>
    <div id="jquery_jplayer_1" class="jp-jplayer"></div>
    <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
      <div class="jp-type-playlist">
        <div class="jp-gui jp-interface">
          <div class="jp-controls">
            <button class="jp-previous" role="button" tabindex="0">previous</button>
            <button class="jp-play" role="button" tabindex="0">play</button>
            <button class="jp-next" role="button" tabindex="0">next</button>
            <button class="jp-stop" role="button" tabindex="0">stop</button>
          </div>
          <div class="jp-progress">
            <div class="jp-seek-bar">
              <div class="jp-play-bar"></div>
            </div>
          </div>
          <div class="jp-volume-controls">
            <button class="jp-mute" role="button" tabindex="0">mute</button>
            <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
            <div class="jp-volume-bar">
              <div class="jp-volume-bar-value"></div>
            </div>
          </div>
          <div class="jp-time-holder">
            <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
            <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
          </div>
          <div class="jp-toggles">
            <button class="jp-repeat" role="button" tabindex="0">repeat</button>
            <button class="jp-shuffle" role="button" tabindex="0">shuffle</button>
          </div>
        </div>
        <div class="jp-playlist">
          <ul>
            <li>&nbsp;</li>
          </ul>
        </div>
        <div class="jp-no-solution">
          <span>Update Required</span>
          To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
