
  <%= simple_form_for(@song) do |f| %>
 <%= f.error_notification %>

 <% if song.errors.any? %>
    <div id="error_explanation " class="bg-secondary text-dark">
      <h2 class="ml-2"><%= pluralize(song.errors.count, "error") %> prohibited this Song from being saved:</h2>

      <ul>
      <% song.errors.full_messages.each do |message| %>
        <li style="list-style: square;" class="ml-4"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




<div class="card up-mt-10">
  <div class="card-body">


  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>



              <div class="row">
           


                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label"><span class="required">*</span>Song title</label>
                    <%= f.text_field :title, :label => 'Title', :placeholder => 'song title', class: "form-control form-control up-input-blue" %>
                  </div>
                </div>

<% if current_profile.artists %>
              <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label"><span class="required">*</span>Artist</label>
                     <%= f.collection_select :artist_id, Artist.where(profile_id: current_profile), :id, :name, value: current_profile.artists.first,  :class => "custom-select form-control form-control-lg up-input-blue", input_html: { class: "dropdown-toggle "} %>  
                  </div>
                </div>

<% else %>

              <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label"><span class="required">*</span>Artist</label>
                    Please <a href="/artists/new">add Artist </a>before continueing
                  </div>
                </div>

<% end %>

</div>







<div class="docs-page-title mb-4"><h2>Distribution</h2></div>
           


<br>


              <div class="row">



                  <div class="col-md-12">
                  <div class="form-group">
   <label class="form-control-label"><span class="required">*</span>Allow free downlods?</label>    
      
                     <%= f.select(:free_download,
                      ["No",
                      "Yes"], {:include_blank => 'Select'}, { :class => 'custom-select form-control form-control-lg up-input-blue' }) %>                    
            </div>
      </div>  
            


                
              </div>



</div>
</div>




                <div class="row">



                  <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label"><span class="required">*</span>Audio<small>&nbsp;&nbsp;&nbsp;add MP3 audio file"</small></label>
    <label for="file-input" style="font-size: 50px!important">
      <i class="fa fa-file-audio-o upload-icon up-cursor" style="font-size: 30px!important"> </i>
    </label>


        <%= f.file_field :mp3_audio, id:"file-input" %>
                  </div>
                </div>

              </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
