<!DOCTYPE html>
<html>
<head>

<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/8.3.0/nouislider.min.css'>

<%= render "shared/jplayer-js-2" %>
<%= render "shared/jplayer-js-1" %>

<meta charset="utf-8" />
<!-- Website Design By: www.happyworm.com -->
<title>Demo : jPlayer as an audio playlist player</title>

<script type="text/javascript">
//<![CDATA[
$(document).ready(function(){

  new jPlayerPlaylist({
    jPlayer: "#jquery_jplayer_1",
    cssSelectorAncestor: "#jp_container_1"
  }, [

   <% @songs.each_with_index do |song, i| %> 
    {
      title:"<div class='latest-release' style='width: 100%!important' ><div class='latest-release__art' style='position:relative'>   <img align='top' src='https://via.placeholder.com/72/000000/FFFFFF/?text=<%= avataryze(song.title) %>' alt='by Name'>  </div> <div class='latest-release__song' > <div class='latest-release__song__title'>     <button onClick='window.location='yahoo.com';' style='padding: 0px; margin: 0px'><%= (song.title.titleize).truncate (50) if song.title %> </button>      </div> <div class='latest-release__song__date'> <small class='month'>  </small>            <span class='wht up-no-mobile' style='float: right;'>  </div></div></div>  &nbsp;",


            <% if song.mp3_audio.attached? %>
            mp3:"<%= rails_blob_url(song.mp3_audio) %>",
            oga:"<%= rails_blob_url(song.mp3_audio) %>",
            song_id: "<%= song.slug %>"
             <% end %>
    },
    <% end %>


  ], {
    playlistOptions: {
      displayTime: 0,
      addTime: 0,
    },
    swfPath: "../../dist/jplayer",
    supplied: "oga, mp3",
    wmode: "window",
    useStateClassSkin: true,
    autoBlur: false,
    smoothPlayBar: true,
    keyEnabled: true
  });

    $('#jquery_jplayer_1').bind($.jPlayer.event.play, function(event) {
        if(event.jPlayer.status.currentTime === 0) {
            $.ajax({
                url: "<%= track_no_of_play_songs_path %>?id=" + event.jPlayer.status.media.song_id,
                type: 'get',
                success: function (result) {
                    console.log("success");
                }
            });
        }
    });
});
<% selected_ads = ads_with_logic @songs.count, @ads %>
$(document).ready(function(){
    var i = 0;
    setTimeout(function(){
      <% @songs.each_with_index do |song, idx| %>
        $(".jp-playlist>ul>li:eq("+ <%= idx %> +")").append('<div class="d-flex"><% if song.free_download.eql? 'Yes' %><button class="song-download-button" data-song-id="<%= song.slug %>" onclick="location.href=\'<%=url_for(rails_blob_path(song.mp3_audio, disposition: 'attachment')) %>\';" title="free download" ><i class="fas fa-arrow-down"></i></button><% end %><% if signed_in? and current_profile.eql?(song.profile)  %><button type="button" class="ml-2" data-toggle="modal" data-target="#addToPlaylistModalCenter" data-remote="true" data-url="<%= get_song_info_profile_playlists_path(current_profile, song_id: song.id) %>">Add to playlist</button><button onclick="location.href=\'<%= edit_song_path(song) %>\';" class= "ml-2"><i class="fas fa-edit"></i>Edit</button><button onclick="location.href=\'<%= song_path(song) %>\';" class= "ml-2"><i class="fas fa-eye"></i>Show</button><a data-method="delete" href="<%= song_path(song) %>" class= "ml-2"><i class="fa fa-trash mr-2"></i>Remove</a><% end %></div><div><% if song.free_download.eql? "Yes" %><span class="mr-2">No of download: <%= song.number_of_download %></span><% end %><span class="mr-2">No of play: <%= song.number_of_play %></span></div>');
      <% end %>
      <% if selected_ads %>
        <% idx = 0 %>
        <% (1..@songs.size).step(2) do |i| %>
            <% if selected_ads[idx].present? %>
              $('.jp-playlist>ul>li:eq('+ <%= i %> +')').append('<div class="m-2 d-block ad-top"></div><div><a class="name-as-cover-image playlist-ad" data-turbolinks="false" data-ad-id="<%= selected_ads[idx].slug %>" href="/ads/<%= selected_ads[idx].try(:name).gsub(' ', '-') %> "><%= avataryze(selected_ads[idx].name) %><%= selected_ads[idx].try(:name) %></a></div>');
            <% end %>
        <% idx += 1 %>
        <% end %>
      <% end %>

        $('.playlist-ad').each(function (){
            $(this).on('click', function (){
                let ad_id = $(this).data('ad-id');
                $.ajax({
                    url: "<%= track_view_from_playlist_ads_path %>?id=" + ad_id,
                    type: 'get',
                    success: function (result) {
                        console.log("success");
                    }
                });
            });
        });

        $('.song-download-button').each(function (){
            $(this).on('click', function (){
                let song_id = $(this).data('song-id');
                $.ajax({
                    url: "<%= track_no_of_download_songs_path %>?id=" + song_id,
                    type: 'get',
                    success: function (result) {
                        console.log("success");
                    }
                });
            });

        });

    }, 1000);
});

//]]>
</script>
</head>
<body>
<%= link_to new_song_path, class: 'btn btn-sm btn-primary' do %>
  <i class='fas fa-edit'></i>
  <span>Upload new song</span>
<% end %>
<div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
  <div class="jp-type-playlist">
    <div class="jp-gui jp-interface">
      <div class="jp-controls">
        <button class="jp-previous" role="button" tabindex="0">previous</button>
        <button class="jp-play" role="button" tabindex="0">play</button>
        <button class="jp-next" role="button" tabindex="0">next</button>
        <button class="jp-stop" role="button" tabindex="0">stop</button>
      </div>
      <div class="jp-progress">
        <div class="jp-seek-bar">
          <div class="jp-play-bar"></div>
        </div>
      </div>
      <div class="jp-volume-controls">
        <button class="jp-mute" role="button" tabindex="0">mute</button>
        <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
        <div class="jp-volume-bar">
          <div class="jp-volume-bar-value"></div>
        </div>
      </div>
      <div class="jp-time-holder">
        <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
        <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
      </div>
      <div class="jp-toggles">
        <button class="jp-repeat" role="button" tabindex="0">repeat</button>
        <button class="jp-shuffle" role="button" tabindex="0">shuffle</button>
      </div>
    </div>
    <div class="jp-playlist">
      <ul>
        <li>&nbsp;</li>
      </ul>
    </div>
    <div class="jp-no-solution">
      <span>Update Required</span>
      To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
    </div>



<%#= render partial: "ad", collection: @songs %>





<br><br>



  </div>
</div>
<div class="modal fade" id="addToPlaylistModalCenter" tabindex="-1" role="dialog" aria-labelledby="addToPlaylistTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addToPlaylistModalLongTitle">Song title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal"><i class="fa fa-close mr-2"></i><span>Close</span></button>
      </div>
    </div>
  </div>
</div>
</body>

</html>


