<%= render "shared/jplayer-js-2" %>

<script type="text/javascript">
    $(document).ready(function(){
      $('.song-download-button').each(function (){
          $(this).on('click', function (){
              let song_id = $(this).data('song-id');
              $.ajax({
                  url: "<%= track_no_of_download_songs_path %>?id=" + song_id,
                  type: 'get',
                  success: function (result) {
                      console.log("success");
                  }
              });
          });

      });

      $('#play-button').on('click', function (){
          setTimeout(function(){
              if(Number($('#player-data').attr('data-current-time')) === 0){
                  $.ajax({
                      url: "<%= track_no_of_play_songs_path %>?id=" + $('#play-button').data('song-id'),
                      type: 'get',
                      success: function (result) {
                          console.log("success");
                      }
                  });
              }
          }, 100);
      });

    });
</script>


<p id="notice"><%= notice %></p>

<p>
  <strong><%= @song.title %></strong>

</p>
<p>
  <strong>Number of play: <%= @song.number_of_play %></strong>
  <br>
  <% if @song.free_download.eql? "Yes" %>
    <strong>Number of download: <%= @song.number_of_download %></strong>
  <% end %>

</p>

<div id="player-data" data-current-time=""></div>

<div class="card">
  <div class="card-body">


    <%= content_tag :div, data: { controller: 'audio', target: 'audio.player', 'audio-url': url_for(@song.mp3_audio) } do %>
      
      <div class='controls mb-2'>
         <button class='btn bg-upfrica-warning' id='play-button' data-song-id="<%= @song.slug %>" data-action='audio#play' data-target='audio.play'>Play</button>
         <button class='btn bg-upfrica-warning' data-action='audio#pause' data-target='audio.pause'>Pause</button>

     </div>
    <% end %>


  </div>
</div>





<%= link_to 'Edit', edit_song_path(@song), class: 'btn btn-sm btn-primary mr-2' %> |
<%= link_to 'Back', songs_path, class: 'btn btn-sm btn-success mr-2' %>


  <span>&nbsp;&nbsp;&nbsp;&nbsp;
    <% if @song.free_download == "Yes" %>

      <%= link_to rails_blob_path(@song.mp3_audio, disposition: 'attachment'), :class => "up-gray-text song-download-button", 'data-song-id': @song.slug do %>
         <i class="fas fa-arrow-down"></i>&nbsp;Download &nbsp; <span class="text-muted"><%= mp3_size %></span>
      <% end %>

    <% end %>
  </span>
