<%= render "shared/jplayer-js-2" %>
<%= render "shared/jplayer-js-1" %>

<script type="text/javascript">
  //<![CDATA[
  $(document).ready(function(){

    new jPlayerPlaylist({
      jPlayer: "#jquery_jplayer_1",
      cssSelectorAncestor: "#jp_container_1"
    }, [

      <% @playlist.songs.order('number_of_play DESC').each_with_index do |song, i| %>
      {
        title:"<div class='latest-release' style='width: 100%!important' ><div class='latest-release__art' style='position:relative'>   <img align='top' src='https://via.placeholder.com/72/000000/FFFFFF/?text=<%= avataryze(song.title) %>' alt='by Name'>  </div> <div class='latest-release__song' > <div class='latest-release__song__title'>     <button onClick='window.location='yahoo.com';' style='padding: 0px; margin: 0px'><%= (song.title.titleize).truncate (50) if song.title %> </button>      </div> <div class='latest-release__song__date'> <small class='month'>  </small>            <span class='wht up-no-mobile' style='float: right;'>  </div></div></div>  &nbsp;",


        <% if song.mp3_audio.attached? %>
        mp3:"<%= rails_blob_url(song.mp3_audio) %>",
        oga:"<%= rails_blob_url(song.mp3_audio) %>",
          song_id: "<%= song.slug %>"
        <% end %>
      },
      <% end %>


    ], {
      playlistOptions: {
        displayTime: 0,
        addTime: 0,
      },
      swfPath: "../../dist/jplayer",
      supplied: "oga, mp3",
      wmode: "window",
      useStateClassSkin: true,
      autoBlur: false,
      smoothPlayBar: true,
      keyEnabled: true
    });

      $('#jquery_jplayer_1').bind($.jPlayer.event.play, function(event) {
          if(event.jPlayer.status.currentTime === 0) {
              $.ajax({
                  url: "<%= track_no_of_play_songs_path %>?id=" + event.jPlayer.status.media.song_id,
                  type: 'get',
                  success: function (result) {
                      console.log("success");
                  }
              });
          }
      });
  });
  <% selected_ads = ads_with_logic @playlist.songs.count, @ads %>
  $(document).ready(function(){
    var i = 0;
      setTimeout(function(){
          <% @playlist.songs.order('number_of_play DESC').each_with_index do |song, idx| %>
          $(".jp-playlist>ul>li:eq("+ <%= idx %> +")").append('<div class="d-flex"><% if song.free_download.eql? 'Yes' %><button class="song-download-button" data-song-id="<%= song.slug %>" onclick="location.href=\'<%=url_for(rails_blob_path(song.mp3_audio, disposition: 'attachment')) %>\';" title="free download" ><i class="fas fa-arrow-down"></i></button><% end %><% if song.free_download.eql? "Yes" %><span class="mr-2">No of download: <%= song.number_of_download %></span><% end %><span class="mr-2">No of play: <%= song.number_of_play %></span></div>');
          <% end %>

          <% if selected_ads %>
          <% idx = 0 %>
          <% (1..@playlist.songs.size).step(2) do |i| %>
          <% if selected_ads[idx].present? %>
          $('.jp-playlist>ul>li:eq('+ <%= i %> +')').append('<div class="m-2 d-block ad-top"></div><div><a class="name-as-cover-image playlist-ad" data-turbolinks="false" data-ad-id="<%= selected_ads[idx].slug %>" href="/ads/<%= selected_ads[idx].try(:name).gsub(' ', '-') %> "><%= avataryze(selected_ads[idx].name) %><%= selected_ads[idx].try(:name) %></a></div>');
          <% end %>
          <% idx += 1 %>
          <% end %>
          <% end %>

          $('.playlist-ad').each(function (){
              $(this).on('click', function (){
                  let ad_id = $(this).data('ad-id');
                  $.ajax({
                      url: "<%= track_view_from_playlist_ads_path %>?id=" + ad_id,
                      type: 'get',
                      success: function (result) {
                          console.log("success");
                      }
                  });
              });
          });

          $('.song-download-button').each(function (){
              $(this).on('click', function (){
                  let song_id = $(this).data('song-id');
                  $.ajax({
                      url: "<%= track_no_of_download_songs_path %>?id=" + song_id,
                      type: 'get',
                      success: function (result) {
                          console.log("success");
                      }
                  });
              });
          });
      }, 1000);
  });

  //]]>
</script>



<div class="card">
  <div class="card-body">
    <% if @playlist.public? %>
      <span class="badge badge-success">Public</span>
    <% else %>
      <span class="badge badge-primary">Private</span>
    <% end %>
    <br/>
    Playlist Name: <%= @playlist.name %>
    <br/>
    Playlist Description: <%= @playlist.description %>
    <br/>
    <% if @playlist.image.attached? %>
      <%= image_tag @playlist.image, style: "width: 150px; display: block;" %>
    <% end %>
    <br/>
    <% if signed_in? && @playlist.liked_profiles.pluck(:profile_id).include?(current_profile.id) %>
      <span class="badge badge-success p-2">Liked</span>
    <% else %>
      <%= link_to 'Like', like_public_playlist_playlist_path(@playlist), class: 'btn btn-sm btn-primary mr-2' unless @playlist.profile.eql?(current_profile)%>
    <% end %>

    <%= link_to 'Back', public_playlists_playlists_path, class: 'btn btn-sm btn-secondary' %>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h3>Songs</h3>
  </div>
  <div class="card-body">
    <% if @playlist.songs.empty? %>
      <span>This playlist is currently empty, find more music to add</span>
    <% else %>
    <div id="jquery_jplayer_1" class="jp-jplayer"></div>
    <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
      <div class="jp-type-playlist">
        <div class="jp-gui jp-interface">
          <div class="jp-controls">
            <button class="jp-previous" role="button" tabindex="0">previous</button>
            <button class="jp-play" role="button" tabindex="0">play</button>
            <button class="jp-next" role="button" tabindex="0">next</button>
            <button class="jp-stop" role="button" tabindex="0">stop</button>
          </div>
          <div class="jp-progress">
            <div class="jp-seek-bar">
              <div class="jp-play-bar"></div>
            </div>
          </div>
          <div class="jp-volume-controls">
            <button class="jp-mute" role="button" tabindex="0">mute</button>
            <button class="jp-volume-max" role="button" tabindex="0">max volume</button>
            <div class="jp-volume-bar">
              <div class="jp-volume-bar-value"></div>
            </div>
          </div>
          <div class="jp-time-holder">
            <div class="jp-current-time" role="timer" aria-label="time">&nbsp;</div>
            <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
          </div>
          <div class="jp-toggles">
            <button class="jp-repeat" role="button" tabindex="0">repeat</button>
            <button class="jp-shuffle" role="button" tabindex="0">shuffle</button>
          </div>
        </div>
        <div class="jp-playlist">
          <ul>
            <li>&nbsp;</li>
          </ul>
        </div>
        <div class="jp-no-solution">
          <span>Update Required</span>
          To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>